.next #next_submit {
    background-color: #ed0c6e;
    color: #fff;
    text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    -moz-transform: matrix( 0.99988037418953,0,0,1,0,0);
    -webkit-transform: matrix( 0.99988037418953,0,0,1,0,0);
    -ms-transform: matrix( 0.99988037418953,0,0,1,0,0);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    width: 100px;
		display: inline-block;
		text-align: center;
		border-radius: 3px;
        cursor: pointer;
  padding: 5px 0 5px 0;
  transition: .5s all;
  border: none;
}
.next #next_submit:hover {

    text-decoration: none;
    background-color: #d41e6d;

}
#exampleSelect1 {
    height: 38px;
}

.option_accept{
    text-align: center;
    padding-top: 10px;
}
#no_categories {
    padding: 0 7px 0 8px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/**Charn*/
.cross_category {
    position: absolute;
    right: 11px;
    top: 9px;
}

.cross_category img{
    width:14px;
    cursor:pointer;
}
.subcategories .cross_category img{
    width:10px;
}

.cross_category_reg {
    position: absolute;
    right: 11px;
    top: 9px;
}

.cross_category_reg img{
    width:14px;
    cursor:pointer;
}
.subcategories .cross_category_reg img{
    width:10px;
}

.category_list .added_category_ul li a{
    cursor: auto;
}
.added_category_list_heading .added_category_list{
  border: none;
}
.category_list {

    min-height: 400px;
}
.addcategory {
    color: #98999c !important;
}
#msg b {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.registrationform .upload_file_section .drag_file{
    border:1px dashed #ed0c6e ;
    overflow-x: auto;
    border-radius: 5px;
}
.registrationform .upload_file_section .drag_file a {
    padding: 15px 8px 15px 8px;
    border: 0px;
    text-align: center;
    text-transform: uppercase;
    cursor: auto;
}
.registrationform .upload_file_section .drag_file a:hover{
    text-decoration: none;
}
.disp_none {

    display: none;

}
.total_message {

    background-color: #ffcb08;
    font-size: 13px;
    padding: 1px 8px 1px 8px;
    border-radius: 10px;
    color: #000;

}
.login_fields input {

    font-size: 14px;
}
.upload_file_section .dz-preview .dz-details{
    display: none;
}
.upload_file_section .dz-preview .dz-success-mark{
    display: none;
}
.upload_file_section .dz-preview .dz-error-mark{
    display: none;
}
.upload_file_section .dz-preview .dz-error-mark svg
{
    margin: auto;
    display: block;
    background: #ed0c6e;
    border-radius: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.upload_file_section .dz-image img{
    width: 60px;
    height: 60px;
}
.registrationform .total_weekdays .select_arrow{
    z-index: 9;
}

/*.registrationform .formcheck input{
    height: auto;
    width: auto;
    opacity: 1;
    margin-right: 10px;
}*/

.second_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_btn input {
    height: auto;
    color: #fff;
    background-color: transparent;
    border: none;
    width:100%;
}

.login_btn input:focus {
    border: none;
}
.bu_error {
    color: red;
    text-align: center;
}
.fill_fields{
    font-size:12px;
    color: red;
    text-align: right;
}
/****28-jan-19****/
.category_list_heading ul li {
    padding: 0 10px 10px;
}

.info {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 5px;
}
.dz-default.dz-message {
    display: none;
}


.registrationform .add_photo_video input{
    height: 36px;
}
.registration_main .registrationform #autocomplete{
    position: static;
}
.div-center{
    margin:0px auto;
    display: block;
}
.back_to_super {
    display: none;
    text-align: center;
    width: 100%;
}
.text-error{
    color: #fe0303;
}
.profile_section_main .upload-btn-wrapper{
    padding-top: 15px;
}
.profile_section_main .upload-btn-wrapper #blah{
    margin-top: 12px;
}
.profile_section_main .upload-btn-wrapper .btn{
    padding: 1px 0 5px 0;
}
.profile_section_main .upload-btn-wrapper input[type="file"]{
    top:13px;
}
#ask_quote .gen_quote_img .upload-btn-wrapper input[type="file"]{
    padding: 8px 0 27px 0;
}


@media (max-width: 767px) {

  .category_list {
      min-height: 240px;
  }
  .added_category ul{
        max-height: 240px;
  }
  #msg {
    display: block;
    padding-top: 5px;
}
}

.verfication_pts ul img {
    width: 20px;
    position: relative;
    top: -2px;
}

#verify-submit {
    background-color: transparent;
    border: none;
    color: #fff;
    width:100%;
}

.save_agree #profile_submit {
    background-color: transparent;
    border: none;
    color: #fff;
    width:100%;
}


.dz-preview {
    position: relative;
}
.dz-image {
    margin-right: 5px;
}
.dz-remove {
    position: absolute;
    background-color: red !important;
    top: 2px;
    color: #fff !important;
    padding: 4px !important;
    width: 15px !important;
    height: 15px !important;
    line-height: 6px;
    right: 2px;
    cursor: pointer !important;
    border-radius: 50% !important;
    font-size:10px !important;
}
.alert-success1 {
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: green;
    padding: 40px 0;
    font-size: 20px;
}
.btn-primary{
    background-color: #ed0c6e !important;
    color: #fff !important;
    width: 110px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    border:none !important;
}
.preview img {
    image-orientation: from-image !important;
}
.email_bu {
    height: 40px;
    font-size: 16px;
}

.pre_loader {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255,255,255,.2);
    z-index: 99999;
}
.pre_loader_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*span#msg {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}*/
.cross-button {

    position: absolute;
    right: -3px;
    top: -7px;
    background-color: red;
    color: #fff;
    font-size: 19px;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    line-height: 18px;

}
.footer_notification_for_mobile {

    position: relative;

}
.error_border {
    border: 1px solid red !important;
}

.search_btn input, .submit_reviewr input, .send_button_this input{
    background-color: #ed0c6e;
    color:#ffffff;
    border:none;
    display:inline-block;
    cursor: pointer;
}

.search_btn input:hover,.submit_reviewr input:hover, .send_button_this input:hover {
    background-color: #d80c65;
    text-decoration: none;
}
.total_pics_img img{
    height:150px;
    width:150px;
    object-fit: cover;
}


/*************By Gursewak 25-02-2019*******************/
.dynamic_rad li {
    width: 100% !important;
}
.total_quote ul li {
display: inline-block;
list-style: none;

padding: 0 8px 0 0px;
margin-bottom: 10px;
}

.total_quote ul {
padding-bottom: 0px;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

.mobile_validate_submit, .mobile_dont_want {
    background-color: #ed0c6e;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 6px 0 6px 0;
    transition: .5s all;
    width: 175px;
    border-style:none;
    cursor:pointer;
}

.mobile_validate_submit:hover, .mobile_dont_want:hover {
    text-decoration: none;
    background-color: #d50861;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

  margin: 0px;

}
input[type=number] {
    -moz-appearance:textfield;
}

#mapDiv{
    height:540px;
}
.loadMore {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.loadMore a {
    background-color: #ed0c6e;
    width: 150px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-size: 14px;
    padding: 10px 0 10px 0;
}

.loadMore a:hover {
    background-color: #d80c65;
    text-decoration: none;
}
.quote_header {
    padding-top: 10px;
    padding-bottom: 0;
    border: none;
}
.what_design h1 {
    font-size: 18px;
    text-align: center;
    color: #1b2137;
}
.d_cat1 {
    padding: 0px 20px 0 20px;
}
.d_cat ul li {
    list-style: none;
    margin-bottom: 10px;
}
.formcheck label {
    margin: 0;
    display: flex;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    color: #000;
}
.formcheck input {
    height: 1px;
    width: 1px;
    opacity: 0;
}
.t_detail p {
    text-align: left;
}
.t_detail p {
    font-size: 13px;
    color: #a1a5b2;
}
.next_btn {
    padding-top: 20px;
}
.next_btn a {
    background-color: #ed0c6e;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 6px 0 6px 0;
    transition: .5s all;
}
.t_detail p img {
    width: 15px;
    margin-right: 6px;
}
.custom_errow {
    position: relative;
}
.select_arrow1 {
    position: absolute;
    right: 26px;
    top: 36px;
}
.select_arrow1 img {
    width: 14px;
}
.select_arrow2 {
    top: 5px !important;
    right: 10px;
}


.ele_next1 a {
    background-color: #ed0c6e;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0.819px 0.574px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 6px 0 6px 0;
    transition: .5s all;
}
.ele_next1 {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}
.ele_next1 a:hover{
    text-decoration: none;
}
.total_quote1{
    padding-bottom: 0 !important;
}
.forgot_pass_bus a {

    text-align: right;
    float: right;
    color: #000;
        font-size: 13px;

}
.border-complete h1 {
    text-align: center;
}
.border-complete {
    text-align: center;
}
.border-complete {
    display: inline-block !important;
    width: 100%;
    border: 2px solid #336699 !important;
    box-shadow: 0px 3px 6.3px 0.7px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 3px 6.3px 0.7px rgba(0, 0, 0, 0.12);
}
.border-complete > h1 {
    font-family: 'GOTHICB0';
    font-size: 18px;
    color: #336699;
    text-align: left;
    padding-bottom: 12px;

}
.no_data_found {
    text-align: center;
    font-size: 24px;
}
.no_result_quotes {
    text-align: center;
    font-size: 28px;
    margin: 0 0 30px 0;
}
.gen_single_quote_upload{
    width:100%;
}
.review_section li a img, .r-star li a img, .rate_str {
    cursor: default;
}
.template_title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}